body {
    background-color: yellow;
}

.head1 {
    colour: blue;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}

.head2 {
    colour: blue;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}

#image1{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

#image2{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

#image3{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

#image4{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

#image5{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

#image6{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

#image7{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

#image8{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

#div1{
    height: 300px;
    width: 300px;
    background-color: red;
    overflow: auto;
}

#div2{
    height: 300px;
    width: 300px;
    background-color: red;
    overflow: auto;
}

#div3{
    height: 300px;
    width: 300px;
    background-color: red;
    overflow: auto;
}

#div4{
    height: 300px;
    width: 300px;
    background-color: red;
    overflow: auto;
}

#div5{
    height: 300px;
    width: 300px;
    background-color:red;
    overflow: auto;
}

#div6{
    height: 300px;
    width: 300px;
    background-color:red;
    overflow: auto;
}

#div7{
    height: 300px;
    width: 300px;
    background-color:red;
    overflow: auto;
}

#div8{
    height: 300px;
    width: 300px;
    background-color:red;
    overflow: auto;
}

.boat{
    display: flex;
}

.headset{
    display: flex;
}